<h1>
  <img class="company-logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png"></img>
  My Todo List
</h1>

<ul class="card">
  <% @my_todo_list.each do |todo| %>
  <li>
    <input type="checkbox" name=""/>
    <a href="/todo/show/<%=todo.id%>"><%=todo.description%></a>
    <span class="pomodoro-estimate"><%=todo.pomodoro_estimate%> pomodoros</span>
  </li>
  <% end %>
</ul>

<a href="/todo/new">New...</a>
