<h1>
  <img class="company-logo" src="https://public.3.basecamp.com/p/iahgNshn1oKq98sWGf1q89Vo/uploads/511042491/download/CodeNow%20Logo.png"></img>
  Workshop Todo List
</h1>
    
<div class="card">
  <input type="checkbox" name=""/>
  <h2><%=@my_todo.description %></h2>
  <span class="pomodoro-estimate large-pomodoro-estimate"> <%=@my_todo.pomodoro_estimate %>pomodoros</span>
  <a href="#" class="button" id="edit-todo-button">Edit</a>
  <a href="/todo/delete/<%= @my_todo.id %>" data-method="delete">Delete</a> 
  <a href="/todo/index">Go back...</a>
</div>
<h3>Todo #<%=@my_todo.id%></h3>